.para1
{
color:red;
background-color:orange;
text-align:center;
height:50px;
font-size:50px;
padding:25px;
float:center;

}

.para2
{
color:black;
background-color:white;
text-align:center;
height:50px;
font-size:50px;
padding:25px;
float:center;
}


p.para3{
color:wheat;
background-color:green;
text-align:center;
height:50px;
font-size:50px;
padding:25px;
float:center;





}

