.header{
background-color:orange;
color:white;
text-align:center;
height:150px;
font-size:25px;
margin:20px;
padding:25px;
float:center;
}

.main{

background-color:white;
color:black;
text-align:center;
height:150px;
font-size:50px;
margin:20px;
padding:25px;
float:center;
}
.footer{
background-color:green;
color:white;
text-align:center;
height:150px;
font-size:35px;
padding:20px;
margin:20px;




