.row{
	width: 100%;
	border: 2px solid white;
	background-color: orange;
}
.ttlimg{
	padding: 5px;
	margin: 5px;
	height: 4em;
	width: 8em;
}
img{
	padding: 5px;
	margin: 5px;
	height: 4em;
	width: 8em;
}

.img1{
	padding: 5px;
	margin: 5px;
	height: 4em;
	width: 8em;

}
.signUpIn{
	position: relative;
	float: right;
	top: 21px;
	right: 33px;
}
button{
	
    text-decoration: none;
    color: inherit;
    border: 0 none;
    outline: 0 none;
    width: 8em;
    height: 4em;
    background-color: white;
}
.Search {
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 18px;
    height: 36px;
    width: 50%;
	display: inline-block;
	position: relative;
	bottom: 35px;
}
li{
	list-style: none;
	font-size: 25px;
	position: relative;
	float: left;
}
.img1{
	clear: both;
   width: 100%;
   height: 280px;
}
.btns{
	border: none;
	font-size: 25px;
	background-color: transparent;
}

#crtImg{
	height: 3em;
	width: 6em;
	position: relative;
	float: right;
	top: 14px;
	bottom: 48px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CCC;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: yellow}

.dropdown:hover .dropdown-content {
    display: block;
   
}

.dropdown:hover .btns {
    background-color: orange;
}
.sp{
	width: 23%;
	height: 20%;
	
}
.crazy{
	width: 80em;
	height: 20%;

}
img:hover {  border:2px solid orange;  box-shadow: 5 10 10px #333; 
 
   }

.ftr:hover{
 	color: green;
 	font-weight: bolder;
 	color: green;
   }
 .ftr{
   	text-decoration: none;
   	color: orange

   }




