.menimg{
	width: 140px;
	height: 150px;
	position: relative;
	left:9%

}
.title {
	text-align: center;
	border: 1px solid;
	margin: 5px;
	padding: 5px;
}

li {
	list-style: none;
	margin: 5px;
	padding: 5px;
	border: 1px solid navy;
	border-radius: 15px 50px;
	box-shadow:10px 10px aqua
}
ul {
	width: 200px;
	background: #fff;
	padding: 20px;
	float: left;
}

.errBlock {
	display: none;
}

button{
	color: green;
	border: 1px solid red; 
	background-color: yellow;
	}

.row{
	width: 100%;
	border: 2px solid white;
	background-color: orange;
}
.ttlimg{
	padding: 5px;
	margin: 5px;
	height: 4em;
	width: 8em;
}


.img1{
	padding: 5px;
	margin: 5px;
	height: 4em;
	width: 8em;

}

.Search {
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 18px;
    height: 36px;
    width: 50%;
	display: inline-block;
	position: relative;
	bottom: 35px;
}
.btns{
	border: none;
	font-size: 25px;
	background-color: transparent;
}

#crtImg{
	height: 3em;
	width: 6em;
	position: relative;
	float: right;
	top: 14px;
	bottom: 48px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CCC;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
   
}

.dropdown:hover .btns {
    background-color: orange;
}


img:hover {  
	transform: scale(1.5); 
 
   }
 img{
    padding: 5px;
    transition: transform .2s;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#prdcount{
	float: right;
	position: relative;
	top: 2px;
	right:25px;
	font-size: 25px

}






