body{
	color: blue;
	
}
.block1{
	border: 2px solid gray;
	width: 350px;
	height: 480px;
	position: relative;
	left: 32%;
	margin:50px;
	padding:20px;

}
h5{
	text-align: center;
	color: red;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  
   color: black;
   text-align: center;
}
img{
	height: 76px;
	width: 113px;
	position: absolute;
	left: 27%;
	bottom: 591px;

}
input[type=text] {
    width: 25em;  height: 2em;
    border-radius: 5px;
    }
 input[type=password] {
    width: 25em;  height: 2em;
    border-radius: 5px;
}
input[type=submit] {
    width: 25em;  height: 2em;
    background-color: #f5bd57;
    border-radius: 10px;
}
#button{
    background-color: orange;
    width: 25em;  height: 2em;
    border-radius: 10px;
}
