<html>
	<head>
		<title>
			Demonstrating Angular filters
		</title>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="filterApp.js"></script>
		<style type="text/css">
			.title {
				text-align: center;
				font-size: 20px;
				color: green;
				margin: 10px;
				padding: 10px;
			}
			table, th, tr, td, th {
				border: 1px solid;
			}
		</style>
	</head>
	<body>
		<div ng-app="filterApp" ng-controller="filterAppCntrl">

			<div class="title">
				Student Details
			</div>
			<input type="text" placeholder="search text" ng-model="userSearchText">
			<select ng-model="size">
				<option>5</option>
				<option>10</option>
				<option>15</option>
			</select>
			<table cellspacing="5" cellpadding="5">
				<thead>
					<tr>
						<th>Sno.</th>
						<th>Name</th>
						<th>Still pending fee</th>
						<th>Total Fee paid</th>
						<th>Location</th>
						<th>DOB</th>
						<th>Gender</th>
					</tr>
				</thead>
				<TBODY>
					<tr ng-repeat="details in stdDetails | orderBy:'feePaid' | limitTo: size | filter:userSearchText">
						<td>{{$index + 1}}</td>
						<td>{{details.name | uppercase}}</td>
						<td>{{details.isBalExist}}</td>
						<td>{{details.feePaid | currency: 'Rs. '}}</td>
						<td>{{details.location}}</td>
						<td>{{details.dob | date: 'MM/dd/yyyy'}}</td>
						<td>{{details.gender}}</td>
					</tr>
				</TBODY>
			</table>
			{{stdDetails | json}}
		</div>
	</body>
</html>